---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import PublicationList from '../components/PublicationList.astro';
import { getLatestEntries } from '../utils/collections';

const allPresentations = await getCollection("presentations");
const sortedPresentations = getLatestEntries(allPresentations);
---

<Layout title="Speaking">
  <div class="max-w-4xl mx-auto px-4">
    <PublicationList 
      title=""
      icon=""
      href="/speaking"
      items={sortedPresentations}
      linkPrefix="/speaking"
    />
  </div>
</Layout>