---
import Layout from '../layouts/Layout.astro';
import PublicationList from '../components/PublicationList.astro';
import { getAllPresentations } from '../utils/collections';

const allPresentations = await getAllPresentations();
---

<Layout title="Speaking">
  <div class="max-w-4xl mx-auto px-4">
    <PublicationList 
      title=""
      icon=""
      href="/speaking"
      items={allPresentations}
      linkPrefix="/speaking"
    />
  </div>
</Layout>