---
interface Props {
  mode: 'warning' | 'info' | 'alert';
  title?: string;
}

const { mode, title } = Astro.props;

const color = {
  warning: 'bg-orange-100 border-l-4 border-orange-500 text-orange-700',
  info: 'bg-blue-100 border-l-4 border-blue-500 text-white-700',
  alert: 'bg-red-100 border-l-4 border-red-500 text-red-700'
};

const iconColor = {
  warning: 'text-orange-500',
  info: 'text-blue-500',
  alert: 'text-red-500'
};
---
<div class={` ${color[mode]} rounded-lg shadow-md`}>
  <div class="flex">
    <div class="flex-none pl-2 pt-0">
      {mode === 'warning' ? (
        <svg class={`fill-current h-6 w-6 ${iconColor[mode]} mr-4 mt-2`} xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M10 2a8 8 0 100 16 8 8 0 000-16zm1 12H9v-2h2v2zm0-4H9V6h2v4z"/>
        </svg>
      ) : (
        <svg class={`fill-current h-6 w-6 ${iconColor[mode]} mr-4 mt-2`} xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
        </svg>
      )}
    </div>
    <div class="">
      {title ? <div><h3 class="mt-0 mb-0">{title}</h3></div> : null}
      <slot />
    </div>
  </div>
</div>
<p></p>