---
---
<footer class="py-8">
    <div class="container mx-auto gap-4 px-4 text-sm text-gray-600 dark:text-gray-300 text-center">
        <div>
            &copy; 2003 - {new Date().getFullYear()} Laurent Kempé. All rights reserved.
        </div>
        <div>
            The expressed opinions are my own and do not reflect those of my employer or any third-party entities.
        </div>
    </div>
</footer>