---
import PublicationList from "./PublicationList.astro";
import { getLatestPosts, getLatestPresentations } from "../utils/collections";

const latestPosts = await getLatestPosts(6);
const latestPresentations = await getLatestPresentations(6);
--- 

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <PublicationList 
    title="Latest posts"
    icon="ðŸ“–"
    href="/blog/1"
    items={latestPosts}
  />
  <PublicationList 
    title="Speaking"
    icon="ðŸ—£ï¸"
    href="/speaking"
    items={latestPresentations}
    linkPrefix="/speaking"
  />
</div>
