---
import { getCollection } from "astro:content";
import PublicationList from "./PublicationList.astro";
import { getLatestEntries } from "../utils/collections";

const allPosts = await getCollection("posts");
const sortedPosts = getLatestEntries(allPosts);

const allPresentations = await getCollection("presentations");
const sortedPresentations = getLatestEntries(allPresentations);
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <PublicationList 
    title="Blog"
    icon="ðŸ“–"
    href="/blog/1"
    items={sortedPosts}
  />
  <PublicationList 
    title="Speaking"
    icon="ðŸ—£ï¸"
    href="/speaking"
    items={sortedPresentations}
    linkPrefix="/speaking"
  />
</div>
