---
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
const sortedPosts = allPosts
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  )
  .slice(0, 10);
const allPresentations = await getCollection("presentations");
const sortedPresentations = allPresentations
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  )
  .slice(0, 10);
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 prose prose-md max-w-none">
  <div>
    <h1><a href="/blog/1" class="font-bold no-underline">Posts</a></h1>
    <div class=" ">
      <ul>
        {
          sortedPosts.map((post) => (
            <li>
                <a href={`${post.data.permalink}`}>
                    {post.data.title}
                </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div>
    <h1><a href="/speaking" class="font-bold no-underline">Speaking</a></h1>
    <div class="">
      <ul>
        {
          sortedPresentations.map((presentation) => (
            <li>
              <a href={`/speaking${presentation.data.permalink}`}>
                {presentation.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
