---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components'
---
<div class="grid grid-cols-1 md:grid-cols-3 gap-4 prose prose-lg max-w-none">
    <div class="md:col-span-1 p-4 flex items-center justify-center">
        <Image 
            src="https://live.staticflickr.com/65535/54218216293_4d1b48b283_w.jpg" 
            alt="Laurent Kempé" width="50" height="50"
            class="rounded-full aspect-square w-[min(100%,16rem)] md:w-64 object-cover"
        />
    </div>
    <div class="md:col-span-2 p-4 flex flex-col justify-center">
        <div class="text-black text-lg md:text-xl leading-relaxed">
            Hi, my name is Laurent Kempé. I am an experienced Team Leader & Distinguished Solution Architect with a passion for shipping high-quality products by empowering development team and culture toward an agile mindset. I bring technical vision and strategy, leading engineering teams to move product, processes and architecture forward.
        </div>
        <div class="mt-4 text-md flex gap-4">
            <a href="https://bsky.app/profile/laurentkempe.com" class="flex items-center gap-1" title='Laurent Kempé Bluesky account' target="_blank">
                <Icon name="fa6-brands:bluesky" title='Laurent Kempé Bluesky account' />
                <span class="underline">Bluesky</span>
            </a>
            <a href="https://github.com/laurentkempe" class="flex items-center gap-1" title="Laurent Kempé GitHub account" target="_blank">
                <Icon name="fa6-brands:github" title='Laurent Kempé GitHub account' />
                <span class="underline">GitHub</span>
            </a>
            <a href="https://www.linkedin.com/in/laurentkempe/" class="flex items-center gap-1" title="Laurent Kempé LinkedIn account" target="_blank">
                <Icon name="fa6-brands:linkedin" title='Laurent Kempé LinkedIn account' />
                <span class="underline">LinkedIn</span>
            </a>
        </div>
    </div>      
</div>
